@charset "utf-8";
@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css')
(min-width: 500px);

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

div {
	display: block;
}

p {
	display: block;
}

h2 {
	display: block;
}

/* ---------- CLASSES ---------- */

.view_count {
	display: block;
}

.count-container {
	color: #7c7c7c;
	font-size: 16px;
	line-height: 30px;
	text-transform: none;
}

.filter-wraper {
	display: flex;
	justify-content: space-between;
}

.filter-wraper .product-view-types a {
	color: #000000;
	text-decoration: none;
}

.filter-wraper .filter-container button {
	border-radius: 32px;
	background-color: #ffffff;
	border: 1.5px solid #000000;
	padding-top: 2px;
	padding-bottom: 2px;
}

.filter-wraper .filter-container button:focus {
	background-color: #000000;
	color: #ffffff;
}

/* PC Display Size */

.grid {
	background: transparent;
	border: 0 none;
	margin: 0 auto 35px auto;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	grid-column-gap: 0;
}

.product-tile {
	width: 202.235px;
	height: 448px;
	padding-right: 5.891px;
	padding-left: 5.891px;
	margin-bottom: 35px;
	margin-left: 14.75px;
	margin-right: 14.75px;
}

.product {
	width: 100%;
	height: 456.234px;
	background-color: #ffffff;
}

.product-list {
	padding-left: 0;
	padding-top: 10px;
	width: 100%;
	overflow: hidden;
	list-style-type: none;
}

.product-image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.caption {
	font-family: Helvetica;
	font-size: 14px;
	color: #000000;
	padding: 15px 5px 10px 5px;
	background: #ffffff;
	max-width: 182px;
	width: 100%;
	height: 219px;
	text-align: center;
	margin: auto;
	/* border: 1px solid green; */
}

.product-heading {
	font-size: 14px;
	color: #000000;
	margin: 0px;
	word-wrap: break-word;
	width: 182px;
	text-align: center;
	/* border: 1px solid green; */
}

.product-description {
	font-size: 12px;
	color: #7c7c7c;
	padding-top: 10px;
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	margin: 0px;
	/* border: 1px solid green; */
}

.product-price {
	padding-top: 9px;
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	/* border: 1px solid green; */
}

.product-price > span {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}

.product-price > a {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

.product-compare {
	padding-top: 7px;
	width: 100%;
	margin: 0px;
}

.product-compare .checker .pretty .state .replace {
	display: none;
}

.product-compare .checker .pretty .state span::selection {
	color: none;
	background: none;
}

.product-rating {
	left: 34px;
	position: relative;
	bottom: 0;
}

.product-rating {
	position: relative;
	bottom: 0;
}

.product-rating {
	color: #b6a97b;
	font-family: 'Helvetica';
	text-decoration: none;
}

.product-rating .rating-wrapper {
	width: 184px;
	height: 26px;
	margin: 0 auto;
	padding: 7px 0;
	font-size: 0.875em;
}

.product-rating .rating-wrapper .rating {
	width: 108px;
	height: 26px;
	margin: 0;
	position: relative;
	float: left;
}

.product-rating .rating-wrapper .rating img {
	position: absolute;
	max-width: none;
	top: 4px;
	left: 0;
	display: inline;
	vertical-align: middle;
}

.product-rating .rating-wrapper .rating div {
	position: absolute;
	line-height: 0;
	height: 26px;
	overflow: hidden;
	display: block;
}

.product-rating .rating-wrapper .rating img {
	position: absolute;
	max-width: none;
	top: 4px;
	width: 108px;
	left: 0;
	height: auto;
	vertical-align: middle;
}

/* Mobile Display Size */

@media (max-width: 500px) {
	.count-container {
		font-size: 12px;
	}

	.grid {
		background: transparent;
		border: 0 none;
		margin: 0 auto 35px auto;
		display: grid;
		grid-template-columns: auto;
		justify-content: flex-start;
	}

	.product-tile {
		position: relative;
		max-width: 400px;
		max-height: 400px;
		width: 100%;
		height: auto;
		margin: 0 auto 0 auto;
	}

	.product {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: auto;
	}

	.product-image img {
		max-width: 100%;
		height: auto;
	}

	.caption {
		text-align: left;
		height: 100%;
		min-width: 150px;
	}

	.product-heading {
		text-align: left;
		width: 100%;
	}

	.product-description {
		text-align: left;
		width: 100%;
		padding-bottom: 10px;
	}

	.product-price {
		text-align: left;
		width: 100%;
	}

	.product-rating {
		left: 0px;
		position: relative;
		bottom: 0;
	}

	.product-rating .rating-wrapper .reviewtxt {
		visibility: hidden;
	}

	.product-compare .checker .pretty {
		display: flex;
		justify-content: left;
		width: 100%;
	}

	.product-compare .checker .pretty input {
		order: 2;
	}

	.product-compare > .checker label {
		float: left;
		padding: 5px 0px 5px 0px;
		width: 80px;
		color: #000000;
		background-color: #ffffff;
		border: 1px solid #000000;
		border-radius: 32px;
		text-align: center;
		content: '產品比較';
	}

	.checker input[type='checkbox'] {
		opacity: 0;
	}

	.checker input[type='checkbox']:checked ~ .state label {
		border-color: transparent;
		background-color: #d6b68e;
		color: #ffffff;
		text-decoration: underline;
	}
}
